{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <form method="post">
        <h3 class="sign-up-login-title-text">Login</h3>
        <div class="sign-up-login-form">
            <div class="mb-3">
                <label for="email" class="form-label fw-bold">Email Address</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Enter email."/>
            </div>
            <div class="mb-5">
                <label for="password" class="form-label fw-bold">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Enter password."/>
            </div>
            <button type="submit" class="btn btn-primary float-end">Login</button>
        </div>
    </form>
{% endblock content %}
